.pic1
{
 width: 400px;

}
.tes
{
    text-align: center;
}
.d
{
    color:   #8e44ad  ;
}
.c
{
    color:    #283747   ;
}
.f
{
    color:     #2ecc71     ;
}
.fm
{
    color:     #861ab8     ;
    text-align: end;
    background-color:orange;
}


